
.panel-names {
    height: 100%;
    width: 100%;
    position: absolute;
}

.player1 {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    p {
        font-style: 'italic';
        font-family: 'Snell Roundhand';
        font-size: 25px;
        color: white;
    }
}

.player2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        transform: rotate(90deg);
        font-style: 'italic';
        font-family: 'Snell Roundhand';
        font-size: 25px;
        color: white;
    }
}

.player3 {
    width: 40%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    p {
        font-style: 'italic';
        font-family: 'Snell Roundhand';
        font-size: 25px;
        color: white;
    }
}

.player4 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
        transform: rotate(-90deg);
        font-style: 'italic';
        font-family: 'Snell Roundhand';
        font-size: 25px;
        color: white;
    }
}

.eliminado-j1 {
    position: absolute;
    width: 100%;
    bottom: 70px;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 1;
}

.eliminado-j2 {
    transform: rotate(90deg);
    position: absolute;
    top: 45%;
    left: -8%;
    z-index: 1;
    width: 30%;
}

.eliminado-j3 {
    position: absolute;
    width: 100%;
    top: 70px;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 1;
}

.eliminado-j4 {
    transform: rotate(-90deg);
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 30%;
    right: -8%;
}

.help-btn {
    bottom: 0;
    margin: 15px;
    position: absolute;
}