

.guard{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/guard.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.priest{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/priest.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.baron{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/baron.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.handmaid{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/handmaid.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.prince{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/prince.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.king{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/king.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.countess{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/countess.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.princess{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/princess.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.unknown-card{
    position: relative;
    width: 145px;
    height: 200px;
    background-image: url(../../images/backCard.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.player-spot-horizontal {
    width: 40%;
    height: 27%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 20% 20% 60%;
}

.player-spot-horizontal-top {
    width: 40%;
    height: 27%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 60% 20% 20%;
}

.player-spot-vertical-left {
    height: 125%;
    width: 13%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-rows: 20% 20% 60%;
}

.player-spot-vertical-right {
    height: 125%;
    width: 13%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-rows: 60% 20% 20%;
}

.spot-organization-vertical {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.spot-organization-horizontal {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center-pile-cards{
    // position: absolute;
    // display: flex;
    // align-content: center;
    // justify-content: center;
    width: 145px;
    height: 200px;
    // margin-bottom: 325px;
    background-image: url(../../images/backCard.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}

.player-2-card-2{
    transform: rotate(90deg);
}

.player-3-card-2{
    transform: rotate(180deg);
}

.player-4-card-2{
    transform: rotate(270deg);
}


.discard-pile-player-2{
    transform: rotate(90deg);
}

.discard-pile-player-3{
    transform: rotate(180deg);
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.discard-pile-player-4{
    transform: rotate(270deg);
    justify-content: end;
}

.max-height {
    height: 100%;
}

.player-2 {
    transform: rotate(90deg);
}

.player-3 {
    transform: rotate(180deg);
}

.player-4 {
    transform: rotate(270deg);
}

.disable-card {
    opacity: 0.65;
}
