$main-color: #ffffff;

body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: $main-color;
}

.inputField{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 10%;
    height: 10%;
    background-color: rgb(175, 22, 22);
    justify-content: center;
    align-content: center;
}

.all-flexed{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.grided{
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    justify-content: center;
    align-content: center;
}